/* Mobile Styles - Default  */
:root {
  background-color: rgb(81, 79, 79);
  background-color: white;
  background-color: yellow;
  tertiary-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);

  margin: 0;
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

#topnav {
  background-color: black;
  color: white;
}

#pageheader {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 0.25rem;
  color: rgb(255, 255, 255);
}

#logo {
  width: 8.25rem;
  height: 6.25rem;
  border: 1px solid none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin: auto;
  transition: all 2s;
  background-image: url(images/ruyklogo.jpg);
  box-shadow: 5px 5px 15px rgb(255, 0, 0);
}

#pageheader .container {
  background-color: rgb(0, 0, 0);
  min-height: auto;
  color: white;
}
#aifooter {
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  min-height: auto;
  color: white;
}

#aifooter .container {
  text-align: center;
  min-height: auto;
}

#pageheader nav {
  text-align: center;
  background-color: black;
}

#pageheader nav ul {
  list-style-type: none;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  margin: 0;
}

#pageheader nav ul li {
  margin: 2px;
  padding: 1rem;
  border: 2px solid black;
  background-color: rgb(0, 0, 0);
  color: black;
}

#pageheader nav ul :hover {
  background-color: rgb(0, 0, 0);
}

blockquote {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  font-size: 1.25rem;
}

blockquote + span {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  display: block;
  width: 50%;
  margin: 0 auto;
}

p {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
}

#media {
  background-color: rgb(0, 0, 0);
  min-height: 40rem;
  max-width: 75rem;
  padding: 1rem;
  background-image:
    linear-gradient(rgba(116, 19, 19, 0.47), rgba(0, 0, 0, 0.3)),
    url(images/ryuk.gif);
  background-size: cover;
  background-position: center;
  margin: auto;
  border-radius: 15px;
  color: white;
}

#career {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

#pagecontent {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

iframe {
  display: block;
  margin: auto;
  aspect-ratio: 16 / 9;
  width: 80%;
}

#semester1 {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
  color: white;
}

#semester2 {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
  color: white;
}

#worksamples {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
  color: white;
}

#certificates {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
  color: white;
}

#certificates ul {
  list-style-type: none;
}

#certficates li {
  color: white;
}

#pagefooter {
  background-color: rgb(0, 0, 0);
  min-height: 10rem;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

#pagefooter .container {
  text-align: center;
  min-height: auto;
}

a {
  color: rgb(255, 255, 255);
}

#subfooter {
  background-color: #000000;
  min-height: 10rem;
  padding: 1rem;
}

audio {
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  display: block;
  margin: auto;
  width: 40%;
  border-radius: 10px;
}
/* Tablet View */
@media screen and (min-width: 650px) {
  #pageheader nav ul {
    margin-top: 2rem;
  }

  #logo {
    margin: 0;
    background-image: url(images/ruyklogo.jpg);
    border-radius: 70%;
  }
  #pageheader nav ul {
    text-align: center;
    margin-top: 2rem;
  }
  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: rgb(0, 0, 0);
  }
  #media {
  }
}
/* Desktop view */
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: rgb(0, 0, 0);
  }
  #media {
  }
}

.kablammo-text {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

/* // <uniquifier>: Use a unique and descriptive class name */

.gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}
